
.filepath-prompt {
  min-width: 60vw }

.file-templates-list a {
  display: block }

.file-templates-list {
  @import "ui-variables";
  @duration: .4s;

  padding-bottom: @component-padding;

  > .btn.icon-chevron-right::before {
    transition: @duration / 2 transform ease }

  &.expanded > .btn.icon-chevron-right::before {
    transform: rotate(90deg) }

  .list-group {
    max-height: 24vh;
    opacity:    1;
    overflow:   auto;
    transition: @duration max-height ease, @duration opacity ease-out }

  .list-group.hidden {
    display:    block !important;
    opacity:    0;
    max-height: 0 !important }

  .list-item {
    .icon {
      text-align:    center;
      box-sizing:    content-box;
      display:       inline-block;
      width:         2em !important }}}

.placeholder-variables {
  min-height:   12em;
  min-width:    12em }

.template-variable {
  @import "ui-variables";
  @import "syntax-variables";

  .region {
    border-radius: 3px }

  &.unassigned .region {
    mix-blend-mode:   overlay;
    opacity:          1 !important;
    background:       mix(@syntax-result-marker-color, @text-color-info) !important;
    background-color: mix(@syntax-background-color, @background-color-error, 50%) !important;
    box-shadow:       0 0 8px rgba(0, 0, 0, 0.05);
    border-bottom:    0px solid rgb(5, 5, 6) }}

// transform-origin: center right;
// transform-style: preserve-3d;
// -webkit-border-start-color: red;
// background-image: linear-gradient(102deg,
//   mix(@background-color-info, @syntax-background-color, 50%) 3%,
//   mix(@text-color-info, @syntax-background-color, 15%) 15%,
//   mix(@text-color-error, @syntax-background-color, 20%) 75%,
//   mix(@text-color-error, @syntax-background-color, 10%) 95%) !important;
// -webkit-mask: linear-gradient(4deg, black, fade(black, 50%) 85%); }

.dialog-contents code > span::after {
  content:    "";
  vertical-align: middle;
  background: white;
  transform:  rotate(35deg);
  display:    inline-block;
  margin:     0 0.8em;
  height:     1.5em;
  width:      1px }

.file-browser-container {
}

.file-explorer .close-icon {
  border-radius:    50%;
  position:         absolute;
  display:          block;
  height:           3em;
  width:            3em;
  right:            0;
  top:              0;
  color:            @text-color;
  background-color: @button-background-color;

  &::before {
    display: block;
    line-height: 3em;
    text-align: center;
    width: inherit;
  }
}

.file-explorer .directory-view {
  &.grid {

    .list-group li {
      flex: 0 1 33%;
      width: auto;
      overflow: hidden;
    }

    .list-group {
      display: flex;
      flex-flow: row wrap;
    }
  }
}



.file-explorer .breadcrumbs {
  display: flex }
